---
---

@import "{{ site.theme }}";

/* add custom CSS here */

a:hover, a:focus { 
    background-color: #f8f8f8;
    color: #555555;
    font-weight: inherit;
}
.wrapper {
  width: 940px;
}
section {
  width: 600px;
}
ul.post-list {
  list-style-type: none;
  padding-left: 0;
}
ul.post-list p {
  font-size: 0.8em;
}
li>code,
p code {
  background-color: #f8f8f8;
  border:1px solid #e5e5e5;
  border-radius: 3px;
  padding: 1px 2px;
}
