---
layout: default
---
<div class="home">

  {{ content }}

  <p class="rss-subscribe">Subscribe <a href="{% link feed.xml %}">via RSS</a> or see <a href="https://github.com/EricFromCanada/byte-bucket">code I’ve written</a>.</p>

  <hr>
  <!--h2 class="page-heading">Posts</h2-->
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

</div>
